projectscripts/temp
projectscripts/cache
projectscripts/data.win
projectscripts/output
projectscripts/variables.sh
projectscripts/variables.bat
projectscripts/*.plist
projectscripts/*.zip

autodocs/*.gml
autodocs/*.csv